<div class="row ">
<div class="col-12 self-align-center container-fluid  text-center bottom-container bg-dark footer_style text-white text-center mt-5" style="height: 10em;">
    <footer>
        <h4 class="pt-2">Developed by: <a class="footer_links p-2" href="https://github.com/Shivam1097">Shivam Shukla <i class="fab fa-github"></i></a> and <a class="footer_links p-2" href="https://github.com/authoritydmc">Raj Dubey <i class="fab fa-github"></i></a></h4>
       <br>
        <!-- <h4 class="pl-4 pr-4" ><span style="float: left;">Shivam Shukla <br><a class="text-white" href="https://github.com/Shivam1097"><i class="fab fa-github"></i></a></span>
        <span style="float: right;">Raj Dubey <br><a class="text-white" href="https://github.com/Shivam1097"><i class="fab fa-github"></i></a></span></h4> -->
        <p>Copyright &copy;2020</p>

        <br>
        <br>
    <!-- </footer> -->

        
    </footer>

</div>
</div>