<div class="text-center bg-dark footer_style text-white text-center my_footer  " style="margin-top: 20px;">
    <footer>
        <h4  >Developed by: <a class="footer_links p-2" style="color: aliceblue;" href="https://github.com/Shivam1097">Shivam Shukla <i class="fab fa-github"></i></a> <nbsp>
            <a class="footer_links p-2"  style="color: aliceblue;"  href="https://github.com/authoritydmc">Raj Dubey <i class="fab fa-github"></i></a></h4>
       <br>
        <p>Copyright &copy;2020</p>
    </footer>
</div>
