<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Retail Banking <i class="fas fa-money-check-alt"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="btn nav-link {% if home %}btn-primary {% endif%}" href="{{ url_for('home') }}">Home <span
          class="sr-only">(current)</span></a>
    </li>
  </ul>
  <div class="collapse navbar-collapse in justify-content-end" id="navbarNav">
    <ul class="navbar-nav">


      {% if 'ssn_id' in session.keys() %}
      <li class="nav-item active">
        <a class="btn nav-link {% if logout %}btn-primary {% endif%}" href='{{ url_for("logout") }}'>Logout</a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link btn {% if login %}btn-primary {% endif%}" href='{{ url_for("login") }}'>Login <i
            class="fas fa-sign-in-alt"></i></a>
      </li>
      <li class="nav-item active">
        <a class="btn nav-link {% if registerExecutive %}btn-primary {% endif%}" href='{{ url_for("registerExecutive") }}'>Register</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>