<!DOCTYPE html>
<html lang="en">
<head>
    <script>alert("wow");</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">
    {% block head %}
     {% endblock %}

</head>
<body>
    <!-- flash messaging system -->

</script>
    <div id="successMessage" style="text-align:center; width:100%">
            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}
    </div>
<!--  -->
    {% block body %}
    
    {% endblock %}  
    <script>
        setTimeout(function() {
            $('#successMessage').fadeOut('fast');
        }, 5000);
    </script>
</body>
</html>