{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>Update</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}



<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="{{ url_for('deleteAccount') }}" method="POST">
            <div class="form-group row">
                <label class="col col-form-label">SSN ID</label>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" value="{{ssn_id}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col col-form-label">Account ID</label>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" name="accID" value="{{cust_acc_id}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col col-form-label">Account Type</label>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" value="{{type}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col col-form-label">Balance</label>
                <div class="col">
                    <input type="number" readonly class="form-control-plaintext" value="{{balance}}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary form-inline" style="margin-left: 05%;">Confirm Delete</button>
            <button type="button" onclick="window.location.href='{{ url_for('home') }}';" class="btn btn-primary form-inline" style="margin-left: 22%;">Cancel</button>

        </form>

    </div>
</div>


{{ a }} {% endblock %}
<!-- end of body conent -->