{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>Create Account</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}



<div class="row">
    <div class="col-md-6 offset-md-3">
        <form class="mt-5" action="/createAccount" method="POST">
            <div class="form-group">
                <label>Customer SSN ID</label>
                <input type="text" class="form-control" name="ssn_id"  value="{{autodata.ssn_id}}" placeholder="Enter SSN ID" required >
            </div>
            <div class="form-group">
                <label>Account Type</label>
                <select name="type" class="dropdown">
            <option name="S" value="saving" {% if autodata.type =="saving" %} selected="selected"{% endif %}>Savings</option>
            <option name="C" value="current" {% if autodata.type =="current" %} selected="selected"{% endif %}>Current</option>
        </select>
            </div>
            <div class="form-group">
                <label for="uid">Account Number</label>
                <input type="number" minlength="9" class="form-control" name="cust_acc_id" placeholder="Enter Customer Account" required value="{{autodata.cust_acc_id}}">
            </div>

            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>
</div>


{{ a }} {% endblock %}
<!-- end of body conent -->