{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>Home</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}


<h2> Welcome to retail banking.</h2>
<img width="1000px" height="400px" src="../static/images/rb.png" alt="">
<br>
<br>
<br>
{% if not 'ssn_id' in session.keys() %}

<h3><a href={{ url_for('login') }}>Login</h3></a>

<br>
<br>

<h3><a href={{ url_for('registerExecutive') }}>Register</h3></a>
{% else %}

<p>From here you can manage all the customer and their accounts. Keep track of account status and add, delete or update the customer details.</p>

<h5><a href="{{ url_for('logout') }}">Logout {{ session['ssn_id'] }}</a></h5>

{% endif %}
{% endblock %}
<!-- end of body conent -->

