<!DOCTYPE html>
<html>

<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css" />
    <script src="https://kit.fontawesome.com/b0efb4e1c0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
     {%block head %}    {% endblock %}
</head>

<body>

    {% include "includes/nav.html" %}
    {% include "includes/sidebar.html" %}
    <div class="mt-5 col-10 align-self-center text-center">
       

        {% if session['username']%}
        <span class='user '>Welcome, {{ session.get('username') }}</span>
        {%endif%}

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages%}
                {%for category,message in messages%}
                    <div>
                        <p style="font-size:20px;" class="text-{{category}}">{{message}}</p>
                    </div>
                {%endfor%}
            {%endif%}

        {%endwith%}


        {% block content%}


        {%endblock%}


    </div>
</div>
    {% include "includes/footer.html" %}

</body>

</html>