{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>Login</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}



<div class="row">
  <div class="col-md-6 offset-md-3">
    <form class="mt-5" action="login" method="POST" >
      <div class="form-group">
        <label for="uid">Username</label>
        <input type="text" class="form-control" id="uid" name="uid" placeholder="Enter UserName">
      </div>
      <div class="form-group">
        <label for="psw">Password:</label>
        <input type="password" class="form-control" id="psw" name="psw" placeholder="Password">
      </div>

      <button type="submit"  class="btn btn-primary">Login</button>
    </form>
  </div>
</div>


{{ a }}



{% endblock %}
<!-- end of body content -->



