{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>Register Executive</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}



<div class="row">
  <div class="col-md-6 offset-md-3">
    <form class="mt-5" action="/registerExecutive" method="POST" >
      <div class="form-group">
        <label for="uid">Executive SSN ID</label>
        <input type="number" minlength="9" class="form-control"  name="ssn" placeholder="This will be your username/SSN ID"  required value={{autodata.ssn_id}}>
      </div>
      <div class="form-group">
        <label for="uid">Executive Name</label>
        <input type="text" class="form-control"  name="name" placeholder="Enter Name"  required>
      </div>
      <div class="form-group">
        <label for="uid">Executive Email</label>
        <input type="email" class="form-control"  name="email" placeholder="Enter Email"  required>
      </div>
      <div class="form-group">
        <label for="psw">Password</label>
        <input type="password"  minlength="1" class="form-control" name="psw" placeholder="Password"  required>
      </div>

      <button type="submit"  class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>


<br>
<br>
<br>
<h5> <a href="{{ url_for('login') }} ">Already have an account? Login</a></h5>




{% endblock %}
<!-- end of body conent -->



