{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>Search Customer </title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}





        <form class="form"  method="POST">
            <div class="form-inline mb-2">
                <label class="pr-2">Customer SSN ID</label>
                <input type="text"  class="form-control" name="ssn_id" placeholder="Enter SSN ID"  required>
            </div>
            <br>
            <button type="submit" formaction='/viewCustomerDetail' class="btn btn-primary mb-2">View Customer Detail</button>
            <button type="submit" formaction='/searchCustomer' class="btn btn-primary mb-2">Update Customer</button>

        </form>





{% endblock %}
<!-- end of body conent -->