{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>View All Customer</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}


<!-- ///////////////////////// -->




<table class="table table-striped ">
    <thead class="thead-dark  ">
        <tr>
            <th scope="col ">SSN ID</th>
            <th scope="col ">Customer Name</th>
            <th scope="col ">Age</th>
            <th scope="col ">Address</th>
            <th scope="col ">Update</th>

        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <th scope="row ">{{ data.ssn_id }}</th>
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>
                <form action="/searchCustomer " method="POST ">
                    <input type="text " readonly hidden class="form-control-plaintext " name="ssn_id " value="{{data.ssn_id}} ">
                    <button type="submit " class="btn btn-primary mb-2 ">Update Detail</button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}
<!-- end of body conent -->