{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>View All Account</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}


<!-- ///////////////////////// -->


<div>
    <h4 class="font-weight-normal text-center m-4">Customer SSN ID: <span style="font-size: 2rem;"> {{cust_ssn_id}} </span></h4>
</div>

<table class="table table-striped ">

    <thead class="font-weight-normal">
        <tr>
            <th scope="col ">Account ID</th>
            <th scope="col ">Account Type</th>
            <th scope="col ">Balance</th>
            <th scope="col ">Allowed Actions</th>

        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <th scope="row ">{{ data.cust_acc_id }}</th>
            <td>{{ data.type }}</td>
            <td>{{ data.balance }}</td>
            <td>
                <form method="GET">
                    <input type="text" readonly hidden class="form-control-plaintext " name="cust_acc_id" value="{{data.cust_acc_id}}">
                    
                    <button type="submit" formaction='{{url_for("deposit")}}' class="btn btn-dark mb-2 ">Deposit Money  <i class="fas fa-folder-plus"></i></button>
                    <button type="submit" formaction='{{url_for("viewTransaction")}}' class="btn btn-dark mb-2 " style="margin-left: 5%; ">View Transactions  <i class="fas fa-search-dollar"></i></button> 
                    <button type="submit" formaction="{{url_for('withdraw')}}" formmethod="GET " class="btn btn-dark mb-2 " style="margin-left: 5%; ">Withdraw Money  <i class="fas fa-folder-minus"></i></button>
                    <button type="submit" formaction="{{url_for('deleteAccount')}}" class="btn btn-danger mb-2 " style="margin-left: 5%; ">Delete Account  <i class="far fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}
<!-- end of body content -->