{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>View All Customer</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}
{% for data in datas %}
<form action="/searchCustomer" method="POST">
<div class="row">
    <div class="col-md-6 offset-md-3">
            <div class="form-group row">
                <label class="col col-form-label ">Customer SSN ID</label>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext"  name="ssn_id" value="{{data.ssn_id}}">
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col col-form-label">Customer Name</label>
                <div class="col">
                    <input type="text" readonly  value="{{data.name}}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Update Detail</button>
            


    </div>
</div>
<hr>
</form>
{% endfor %}

{% endblock %}
<!-- end of body conent -->