{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>View All Customer</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}


<!-- ///////////////////////// -->


<table class="table table-striped ">
    <thead class="thead-dark  ">
        <tr>
            <th scope="col ">Account ID</th>
            <th scope="col ">Account Type</th>
            <th scope="col ">Balance</th>
            <th scope="col ">Delete</th>

        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <th scope="row ">{{ data.cust_acc_id }}</th>
            <td>{{ data.type }}</td>
            <td>{{ data.balance }}</td>
            <td>
                <form action="/deleteAccount" method="GET">
                    <input type="text " readonly hidden class="form-control-plaintext " name="cust_acc_id" " value="{{data.cust_acc_id}} ">
                    <button type="submit " class="btn btn-primary mb-2 ">Delete Account</button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}
<!-- end of body content -->