{% extends 'layout.html' %}
<!-- head content -->
{% block head %}
<title>View All Customer</title>
{% endblock %}
<!-- end of head content -->

<!-- below is body content  -->
{% block content %}


<!-- ///////////////////////// -->


<table class="table table-striped ">
    <thead class="thead-dark align-self-center">
        <tr>
            <th>Customer SSN_ID:{{cust_ssn_id}}</th>
        </tr>
    </thead>
    <thead class="thead-dark  ">
        <tr>
            <th scope="col ">Account ID</th>
            <th scope="col ">Account Type</th>
            <th scope="col ">Balance</th>
            <th scope="col ">Allowed Actions</th>

        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <th scope="row ">{{ data.cust_acc_id }}</th>
            <td>{{ data.type }}</td>
            <td>{{ data.balance }}</td>
            <td>
                <form method="GET">
                    <input type="text" readonly hidden class="form-control-plaintext " name="cust_acc_id" value="{{data.cust_acc_id}}">
                    <button type="submit" formaction='/deposit' class="btn btn-primary mb-2 " style="margin-left: 5%; ">Deposit Money <i class="fa fa-pencil-square-o " aria-hidden="true "></i></button>
                    <button type="submit" formaction="/withdraw " formmethod="GET " class="btn btn-secondary mb-2 " style="margin-left: 5%; ">Withdraw Money<i class="fa fa-pencil-square-o " aria-hidden="true "></i></button>
                    <button type="submit" formaction="/transferMoney " formmethod="GET " class="btn btn-secondary mb-2 " style="margin-left: 5%; ">Transfer Money<i class="fa fa-pencil-square-o " aria-hidden="true "></i></button>
                    <button type="submit" formaction="{{url_for('deleteAccount')}}" class="btn btn-danger mb-2 " style="margin-left: 5%; ">Delete Account</button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}
<!-- end of body content -->