.tophead
{
    width: 100%;
    height: 65px;
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content:space-between;


}
.my_header{
    position: sticky;
    top: 0;
    width: 100%;
    
}
.my_header a{
    text-decoration: none;
    color: black;
    text-align: center;
    
}
.my_header a:hover{
    text-decoration: none;
    color: black;
}

.brandLogo{
font-size: 30px;
/* margin-right: 55%; */
padding-top: auto;
margin: auto;
margin-left: calc(auto);
transform: translateX(-50%);
}

.menulines
{
    font-size: 30px;
    cursor: pointer;
    padding-left: 20px; 
    transition: 0.5s ease;
}

.my_sidebar
{
    background:#272634;
    height: 100%;
    width: 0;
    position:fixed;
    top: 66px;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 60px;
    box-sizing: border-box;
    padding-bottom: 30px;
    transition: all 0.5s ease;
}
.my_sidebar a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    padding: 12px 0 30px 10px;
    transition: 0.4s;
    
}
.heading {
 color: aliceblue; 
 font-size: 22px;  

}
 
.my_sidebar a:hover{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.7);
    padding-left: 20px;
}

.main_section{
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
    transition: all 0.5s ease;
}

.closebtn
{
    position: absolute;
    top: 0;
    right: 24px;
    font-size: 45px !important;
}

::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}