body{
    height: 100%;
background: aliceblue !important;

}


.tophead
{
    width: 100%;
    height: 65px;
    background: #272634;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: aliceblue;



}
.my_header{
    position: sticky;
    top: 0;
    width: 100%;
    
    z-index:2;
    
}
.my_header a{
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    
}
.my_header a:hover{
    text-decoration: none;
    color: aliceblue;

}

.brandLogo{
font-size: 30px;
/* margin-right: 55%; */
padding-top: auto;
margin: auto;
margin-left: calc(auto);
transform: translateX(-25%);
}

.menulines
{
    font-size: 30px;
    cursor: pointer;
    padding-left: 20px; 
    text-align: center;
    transition: 0.5s ease-in-out;
}

.my_sidebar
{
    background:#272634;
    height: 100%;
    width: 0;
    position:fixed;
    top: 65px;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 30px;
    box-sizing: border-box;
    padding-bottom: 30px;
    transition: all 0.5s ease;
}
.my_sidebar a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    padding: 12px 0 30px 10px;
    transition: 0.4s;
    
}
.heading  {
 color: #FFFFFF; 
 font-size: 18px;  
 background: #212121;
 margin-right: 10px;
 box-sizing: border-box;
 

}

.sub_heading
{
    color: aliceblue; 
    font-size: 12px;  
    background: #212121;
}
 
.my_sidebar a:hover{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.7);
    padding-left: 20px;
}

.main_section{
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
    transition: all 0.5s ease;
    height: 100%;
    /* min-height: calc(100vh - 200px); */
    margin-bottom: auto;
}

.footer_section
{
    /* position:sticky;
    bottom: 0; */
}
.closebtn
{
    position: absolute;
    top: 0;
    right: 24px;
    font-size: 45px !important;
}

::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}


ul {
    list-style-type: none;
  }

