html{
    width:100%;
    height:100%;
}

body
{
	background: aliceblue;
	font-family: Montserrat;
	/* text-align: center;
	align-content: center; */
	width: 100%;
	height: 100;
}
.footer_style {
    text-align: center;
    height: 50px;
    color: black;

	padding: 5px;
	padding-bottom: 20px;
    margin-top: 10px;
	bottom: 0px;
	position:fixed;

	background-color: rgba(0, 0, 0, 0.3);
	height: 120px;
	word-spacing: 3px;
	font-weight: 400;
}
a{
	color: rgb(211, 7, 68);
}
a:hover{
	color: grey;
	text-decoration: none;
}
.footer_links{
	font-size: 30px;
	font-weight: 400;
}
.footer_style a {

    color: aliceblue;
}



/* Sidebar css */
#sidebar{
    position: fixed;
    /* width: 200px; */
    /* height: 390px     ; */
    /* background: url("images/p55.jpg"); */
    /* margin: 5% 0; */
    /* border-top-right-radius: 7px; */
    /* border-bottom-right-radius: 7px; */
    background-color: #343a40;
  }
  #sidebar ul{
    padding: 0;
  }
  #sidebar ul li{
    list-style: none;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
  }

  #sidebar ul li a {
    color: antiquewhite;
    text-decoration: none;
  }

  /* ------------------------------------ */
