body
{
	background: aliceblue;
	font-family: Montserrat;


	overflow-x: hidden;

}
.footer_style {
    text-align: center;
	height: 10em;
	
   
    color: black;

	padding: 5px;
	padding-bottom: 0px;
    margin-top: 10px;
	bottom: 0px;
	position: relative;;

	background-color: rgba(0, 0, 0, 0.3);
	height: 120px;
	word-spacing: 3px;
	font-weight: 400;
}
a{
	color: rgb(211, 7, 68);
}
a:hover{
	color: grey;
	text-decoration: none;
}
.footer_links{
	font-size: 30px;
	font-weight: 400;
}
.footer_style a {

    color: aliceblue;
}

.navbar{
  position:sticky;
  position:-webkit-sticky;
  top: 0;
}

/* Sidebar css */
#sidebar{
    /* position: fixed; */
    /* width: 200px; */
    /* height: 390px     ; */
    /* background: url(""); */
    /* margin: 5% 0; */
    /* border-top-right-radius: 7px; */
    /* border-bottom-right-radius: 7px; */
    background-color: #343a40;
  }
  #sidebar ul{
    padding: 0;
  }
  #sidebar ul li{
    list-style: none;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
  }

  #sidebar ul li a {
    color: antiquewhite;
    text-decoration: none;
  }

  /* ------------------------------------ */
