body {
    font-family: Montserrat, sans-serif !important;
}

.btn_grp
{
    display: flex;
    flex-wrap: wrap;

}

.btn_grp button{
    flex: 1 0 21%; /* explanation below */
    margin: 10px;
    /* height: 100px; */
    /* background-color: blue; */
}